MiracleSticksClient/Service References/MiracleSticksAPI/MiracleSticksAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiracleSticks.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiracleSticks.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="RequireRelay" type="xs:boolean" />
      <xs:element minOccurs="0" name="StickID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationRequest" nillable="true" type="tns:RegistrationRequest" />
  <xs:complexType name="RegistrationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelayIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelayPort" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationResponse" nillable="true" type="tns:RegistrationResponse" />
  <xs:complexType name="UnregisterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnregisterRequest" nillable="true" type="tns:UnregisterRequest" />
  <xs:complexType name="UnregisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnregisterResponse" nillable="true" type="tns:UnregisterResponse" />
  <xs:complexType name="QueryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryRequest" nillable="true" type="tns:QueryRequest" />
  <xs:complexType name="QueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servers" nillable="true" type="tns:ArrayOfServerRegistration" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryResponse" nillable="true" type="tns:QueryResponse" />
  <xs:complexType name="ArrayOfServerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerRegistration" nillable="true" type="tns:ServerRegistration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerRegistration" nillable="true" type="tns:ArrayOfServerRegistration" />
  <xs:complexType name="ServerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerRegistration" nillable="true" type="tns:ServerRegistration" />
  <xs:complexType name="ConnectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectRequest" nillable="true" type="tns:ConnectRequest" />
  <xs:complexType name="ConnectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelayIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelayPort" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectResponse" nillable="true" type="tns:ConnectResponse" />
  <xs:complexType name="PortTestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortTestRequest" nillable="true" type="tns:PortTestRequest" />
  <xs:complexType name="PortTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortTestResponse" nillable="true" type="tns:PortTestResponse" />
</xs:schema>