MiracleSticksClient/Service References/MiracleSticksAPI/MiracleSticksAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1373/MiracleSticksAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiracleSticks.API" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="request" nillable="true" type="q1:RegistrationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegistrationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unregister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="request" nillable="true" type="q3:UnregisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="UnregisterResult" nillable="true" type="q4:UnregisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="request" nillable="true" type="q5:QueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="QueryResult" nillable="true" type="q6:QueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="request" nillable="true" type="q7:ConnectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="ConnectResult" nillable="true" type="q8:ConnectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="request" nillable="true" type="q9:PortTestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MiracleSticks.API" minOccurs="0" name="PortTestResult" nillable="true" type="q10:PortTestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>